{% extends "base.html" %}

{% block content %}
<div style="padding:40px"><h1>Добавьте работу</h1></div>
<div style="padding-left:40px">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.team_leader_id.label }}<br>
            {{ form.team_leader_id(class="form-control") }}<br>
            {% for error in form.team_leader_id.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>
            {{ form.work_size.label }}<br>
            {{ form.work_size(class="form-control") }}<br>
            {% for error in form.work_size.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.start_date.label }}<br>
            {{ form.start_date(class="form-control") }}<br>
            {% for error in form.start_date.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.collaborators.label }}<br>
            {{ form.collaborators(class="form-control") }}<br>
            {% for error in form.collaborators.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}